create-service-acc.sh
*.swp
test.yaml
createinst.sh
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.lock.hcl
.terraform/
.keys
.vscode
repo*/
*.retry
terraform*/*
*.lock.hcl*
.gitignore
packer/variables.json
last_etag=
recursive=
wait_for_change=
create-service-acc.sh
terraform/stage/variables.tf
terraform/modules/app/variables.tf
terraform/stage/.terraform.lock.hcl
terraform/modules/db/main.tf
terraform/modules/app/variables.tf
.gitignore
terraform/stage/main.tf
jdauphant.nginx
vault.key
