create-service-acc.sh
*.swp
test.yaml
createinst.sh
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.lock.hcl
.terraform/
.keys
.vscode
repo*/
terraform*/*
*.lock.hcl*
.gitignore
packer/variables.json
last_etag=
recursive=
wait_for_change=

create-service-acc.sh
terraform/stage/variables.tf
