cloud_id                 = "CLOUD_ID"
folder_id                = "FOLDER_ID"
zone                     = "ru-central1-a"
image_id                 = "IMAGE_ID"
public_key_path          = "SSH user key"
subnet_id                = "SUBNET_ID"
service_account_key_file = "Service acc key"
private_key              = "SSH privwte key"
db_disk_image            = "DB_DISK_IMAGE"
app_disk_image           = "APP_DISK_IMAGE"
