cloud_id                 = "CLOUD_ID"
folder_id                = "FOLDER_ID"
zone                     = "ru-central1-a"
image_id                 = "IMAGE_ID"
public_key_path          = "SSH key file path"
subnet_id                = "SUBNET_ID"
service_account_key_file = "SERVICE_ACCT_KEY_FILE"
private_key              = "PRIVATE_KEY"
